*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.desktop {
  display: none;
}
@media only screen and (min-width: 50em) {
  .desktop {
    display: block;
  }
}

@media only screen and (min-width: 50em) {
  .mobile {
    display: none;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

.heading--secondary,
.heading--main,
.footer__heading {
  font-family: "Poppins", sans-serif;
}

.heading--main {
  font-size: 2.4rem;
  text-align: center;
  padding: 0 4rem;
}
@media only screen and (min-width: 50em) {
  .heading--main {
    font-size: 4.8rem;
  }
}

.heading--secondary {
  font-size: 2rem;
  text-align: center;
}
@media only screen and (min-width: 50em) {
  .heading--secondary {
    font-size: 4rem;
    line-height: 6rem;
  }
}

.u-margin-bottom-huge {
  margin-bottom: 12rem;
}

.u-margin-bottom-huge-center {
  margin: 0 auto 10rem auto;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn:link, .btn:visited {
  border-radius: 25rem;
  text-decoration: none;
  padding: 1rem 3rem;
}
.btn--nav {
  border: 1px solid hsl(321, 100%, 78%);
  color: hsl(321, 100%, 78%);
  font-size: 0.9rem;
  transition: all 0.2s;
}
.btn--nav:hover, .btn--nav:active {
  box-shadow: 0 1rem 2rem rgba(255, 82, 191, 0.2);
}
.btn--nav:active {
  box-shadow: 0 1rem 1.2rem rgba(255, 82, 191, 0.3);
  transform: translateY(3px);
}
.btn--cta:link, .btn--cta:visited {
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  width: 17rem;
  box-shadow: 0 1rem 2rem rgba(0, 37, 46, 0.2);
}
.btn--cta:active, .btn--cta:hover {
  background-color: hsl(321, 100%, 78%);
  transition: all 0.2s;
}
.btn--cta:active {
  background-color: hsl(321, 100%, 78%);
  box-shadow: 0 1rem 1rem rgba(0, 37, 46, 0.4);
  transform: translateY(2px);
}

.pitch {
  margin: 15rem auto;
}
.pitch__bg--top {
  width: 100%;
  margin: 0;
  transform: translateY(0.3rem);
}
.pitch__bg--bottom {
  width: 100%;
  margin: 0;
  transform: translateY(-0.3rem);
}
.pitch__content {
  box-sizing: border-box;
  width: 100%;
  padding: 5% 10%;
}
.pitch__content--blue {
  background-color: hsl(207, 100%, 98%);
}
@media only screen and (min-width: 50em) {
  .pitch__content {
    display: flex;
    align-items: center;
  }
  .pitch__content__column {
    width: 50%;
  }
}
.pitch__img {
  width: 70%;
  margin: 0 auto;
  display: block;
}
.pitch__text {
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
@media only screen and (min-width: 50em) {
  .pitch__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.header {
  padding: 3rem;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 20rem;
  animation: moveInLeft 0.3s ease-out;
}
.header__link {
  animation: moveInRight 0.3s ease-out;
}
.header__heading-main {
  animation: moveInBottom 0.3s ease-in-out;
}
.header__text {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.5;
  animation: moveInBottom 0.3s ease-in-out;
}
@media only screen and (min-width: 50em) {
  .header__text {
    font-size: 2rem;
    width: 50%;
    margin: 0 auto 4rem;
  }
}
.header__img {
  width: 80%;
  margin: 0 auto;
  display: block;
  animation: moveInBottom 0.3s ease-in-out;
}
.header__btn {
  animation: moveInBottom 0.3s ease-in-out;
}

.footer {
  color: hsl(207, 100%, 98%);
  position: relative;
  width: 100%;
}
.footer__content {
  padding: 10rem 2rem 2rem;
  margin: 0 auto;
  background-color: hsl(192, 100%, 9%);
}
@media only screen and (min-width: 50em) {
  .footer__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5rem;
  }
}
.footer__heading {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.5;
}
.footer__text {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
}
.footer__bg-top {
  width: 100%;
  margin: 0;
  transform: translateY(1rem);
  padding: -2rem;
}
.footer__form__input {
  display: block;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  margin: 2rem 0;
}
@media only screen and (min-width: 50em) {
  .footer__form__input {
    width: 70%;
    float: left;
    height: 4rem;
  }
}
.footer__form__submit {
  border: none;
  padding: 1rem 3rem;
  margin: 1rem 0;
  float: right;
  color: white;
  background-color: hsl(322, 100%, 66%);
  border-radius: 0.5rem;
  transition: all 0.2s;
}
@media only screen and (min-width: 50em) {
  .footer__form__submit {
    width: 20%;
    float: right;
  }
}
.footer__form__submit:hover {
  cursor: pointer;
  background-color: hsl(321, 100%, 78%);
}
.footer__form__error {
  color: hsl(0, 100%, 63%);
}
.footer__contact {
  clear: both;
  margin-top: 12rem;
}
@media only screen and (min-width: 50em) {
  .footer__contact {
    clear: none;
    margin-top: 0;
  }
}
.footer__contact__logo {
  width: 20rem;
  margin: 3rem 0;
}
.footer__contact__text {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
}
.footer__contact__method {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.footer__contact__img {
  margin-right: 1rem;
  display: inline-block;
}
.footer__contact__socials {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.footer__contact__social {
  transition: all 0.2s;
}
.footer__contact__social:hover {
  color: hsl(322, 100%, 66%);
}
.footer__contact__social:not(:last-child) {
  margin-right: 2rem;
}
.footer__contact__social :not(:last-child) {
  margin-right: 2rem;
  cursor: pointer;
}

.attribution {
  margin-top: 3rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(322, 100%, 66%);
}

.hidden {
  color: transparent;
}

.newsletter-signup {
  float: left;
}

.stat {
  width: 30%;
  margin: 0 auto;
}
@media only screen and (min-width: 50em) {
  .stat {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.stat__heading {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.5;
  display: block;
  text-align: center;
}
.stat__text {
  font-size: 1.5rem;
  text-align: center;
  display: block;
}
.stat__group {
  margin-bottom: 8rem;
}
@media only screen and (min-width: 50em) {
  .stat__group {
    margin: 4rem;
    text-align: center;
  }
}

.cta {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.cta__heading {
  font-size: 2.4rem;
  line-height: 1.5;
  width: 50%;
  display: block;
  margin: 4rem auto;
}

/*# sourceMappingURL=style.css.map */
