.header {
    padding: 3rem;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 20rem;
        animation: moveInLeft 0.3s ease-out;
    }

    &__link {
        animation: moveInRight 0.3s ease-out;
    }

    &__heading-main {
        animation: moveInBottom 0.3s ease-in-out;
    }

    &__text {
        font-size: 1.4rem;
        text-align: center;
        line-height: 1.5;
        animation: moveInBottom 0.3s ease-in-out;

        @include respond(desktop) {
            font-size: 2rem;
            width: 50%;
            margin: 0 auto 4rem;
        }
    }

    &__img {
        width: 80%;
        max-width: 90rem;
        margin: 0 auto;
        display: block;
        animation: moveInBottom 0.3s ease-in-out;
    }

    &__btn {
        animation: moveInBottom 0.3s ease-in-out;
    }

}