.pitch {
    margin: 15rem auto;

    &__bg--top {
        width: 100%;
        margin: 0;
        transform: translateY(.3rem);

    }

    &__bg--bottom {
        width: 100%;
        margin: 0;
        transform: translateY(-.3rem);
    }

    &__content {
        box-sizing: border-box;
        width: 100%;
        padding: 5% 10%;
        // margin: 10rem auto;

        &--blue {
            background-color: $color-blue-pale;
        }

        @include respond(desktop) {
            display: flex;
            align-items: center;

            &__column {
                width: 50%;
            }
        }
    }

    &__img {
        width: 70%;
        margin: 0 auto;
        display: block;
    }

    &__text {
        font-size: 1.4rem;
        line-height: 1.5;
        text-align: center;
        width: 80%;
        margin: 0 auto;

        @include respond(desktop) {
            font-size: 1.6rem;
            line-height: 2.4rem;

        }
    }
}


.grow-together {
    position: relative;

    &::before {
        content: '';
        background-image: url(../images/bg-section-top-mobile-1.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        position: absolute;
        background-size: 100%;
        height: 100%;
        width: 100%;
        bottom: 100%;

        @include respond(desktop) {
            background-image: url(../images/bg-section-top-desktop-1.svg);
        }
    }

    &::after {
        content: '';
        background-image: url(../images/bg-section-bottom-mobile-1.svg);
        background-position: top;
        background-repeat: no-repeat;
        position: absolute;
        background-size: 100%;
        height: 100%;
        width: 100%;
        top: 100%;

        @include respond(desktop) {
            background-image: url(../images/bg-section-bottom-desktop-1.svg);
        }
    }



}



.your-users {
    position: relative;

    &::before {
        content: '';
        background-image: url(../images/bg-section-top-mobile-2.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        position: absolute;
        background-size: 100%;
        height: 100%;
        width: 100%;
        bottom: 100%;

        @include respond(desktop) {
            background-image: url(../images/bg-section-top-desktop-2.svg);
        }
    }

    &::after {
        content: '';
        background-image: url(../images/bg-section-bottom-mobile-2.svg);
        background-position: top;
        background-repeat: no-repeat;
        position: absolute;
        background-size: 100%;
        height: 100%;
        width: 100%;
        top: 100%;
        margin-bottom: 4rem;

        @include respond(desktop) {
            background-image: url(../images/bg-section-bottom-desktop-2.svg);
        }
    }



}