.pitch {
    margin: 15rem auto;

    &__bg--top {
        width: 100%;
        margin: 0;
        transform: translateY(.3rem);

    }

    &__bg--bottom {
        width: 100%;
        margin: 0;
        transform: translateY(-.3rem);
    }

    &__content {
        box-sizing: border-box;
        width: 100%;
        padding: 5% 10%;
        // margin: 10rem auto;

        &--blue {
            background-color: $color-blue-pale;
        }

        @include respond(desktop) {
            display: flex;
            align-items: center;

            &__column {
                width: 50%;
            }
        }
    }

    &__img {
        width: 70%;
        margin: 0 auto;
        display: block;
    }

    &__text {
        font-size: 1.4rem;
        line-height: 1.5;
        text-align: center;
        width: 80%;
        margin: 0 auto;

        @include respond(desktop) {
            font-size: 1.6rem;
            line-height: 2.4rem;
            
        }
    }
}