.u-margin-bottom-huge {
    margin-bottom: 12rem;
}

.u-margin-bottom-huge-center {
    margin: 0 auto 10rem auto;
}

.u-margin-bottom-medium {
    margin-bottom: 5rem;
}

.u-margin-bottom-small {
    margin-bottom: 2rem;
}